<!-- INCLUDE header.html -->
<div class="block">
    <h1>Editing User</h1>
    &nbsp;<b>User Information</b>
    <fieldset>
        <form action="./admin/edit-user/" method="POST"/>
        <input type="hidden" name="user_id" value="{USER_ID}"/>
        <b>Username:</b> {USERNAME}<br/>
        <b>New Password:</b> <input type="password" name="password" value=""/><br/>
        <input type="hidden" name="cur_pass" value="{PASSWORD}" />
        <b>Email:</b> <input type="text" name="user_email" value="{USER_EMAIL}"/><br/>
        <b>Level:</b> <select name="user_level"><option value="1" <!-- IF USER_LEVEL EQUALS 1 -->selected="selected"<!-- ENDIF -->>User</option><option value="2" <!-- IF USER_LEVEL EQUALS 2 -->selected="selected"<!-- ENDIF -->>Moderator</option><option value="3" <!-- IF USER_LEVEL EQUALS 3 -->selected="selected"<!-- ENDIF -->>Administrator</option></select><br/>
        <b>Founder:</b> <select name="user_founder"><option value="0" <!-- IF USER_FOUNDER EQUALS 0 -->selected="true"<!-- ENDIF -->>No</option><option value="1" <!-- IF USER_FOUNDER 1 -->selected="true"<!-- ENDIF -->>Yes</option></select><br/>
        <input type="submit" class="mainaction" value="Save" name="save"/>
    </form>
    </fieldset>
    &nbsp;<b>Actions</b>
    <fieldset>
        <!-- IF USER_FOUNDER < 1 -->
        <a class="subaction" href="./admin/del-user/{USER_ID}/">Delete {USERNAME}</a> 
        <a href="./admin/ban-user/{USER_ID}/" class="subaction">Ban {USERNAME}</a> 
        <a href="./admin/unban-user/{USER_ID}/" class="subaction">Unban {USERNAME}</a>
        <!-- ELSE -->
        <a class="subaction">Delete {USERNAME}</a> 
        <a class="subaction">Ban {USERNAME}</a> 
        <a class="subaction">Unban {USERNAME}</a>
        <!-- ENDIF -->
        <br /><span>Note: Founder accounts cannot be deleted or banned.</span>
    </fieldset>
</div>
<!-- INCLUDE footer.html -->