<!-- INCLUDE header.html -->
<div class="block">
    <h1>{PAGE_TITLE}</h1>
    <p>
        Welcome to your administrator control panel. From here you can modify all aspects of your site
        via the navigation on the left hand side.
    </p>
    <p>
        If you encounter any issues, please visit <a href="http://www.hypersite.info" target="_blank">Our Website</a> for support.<br/>
        Note: Our staff will never ask for FTP access to your website. We may ask for an administrative login account on the website,
        but this does not allow us access to upload files (except in the Module and Styles Sections). Our staff will always give you a detailed
        log of any action they take to help you out. Please also note that staff will only help you for a specific site, if the site has the
        copyright text in the site footer (ie, Powered by HyperSite 1.0)
    </p>
</div>
<!-- INCLUDE footer.html -->