<!-- INCLUDE header.html -->
<div class="block">
    <h1>Site Settings</h1>
    <form action="./admin/settings/" method="POST">
        <fieldset><label>Site Settings</label>
            <table width="100%">
                <tr><td>Site Title</td><td><input type="text" name="site_title" value="{TITLE}" /></td></tr>
                <tr><td>Site Description</td><td><input type="text" name="site_desc" value="{DESC}" /></td></tr>
                <tr><td>Allow Users to Login</td><td><input type="radio" name="allow_users_login" value="0" <!-- IF ALLOW_USER_LOGIN == 0 -->checked="checked"<!-- ENDIF -->/>No <input type="radio" name="allow_users_login" value="1" <!-- IF ALLOW_USER_LOGIN == 1 -->checked="checked"<!-- ENDIF -->/>Yes</td></tr>
                <tr><td>Allow Users to Login</td><td><input type="radio" name="allow_users_reg" value="0" <!-- IF ALLOW_USER_REG == 0 -->checked="checked"<!-- ENDIF -->/>No <input type="radio" name="allow_users_reg" value="1" <!-- IF ALLOW_USER_REG == 1 -->checked="checked"<!-- ENDIF -->/>Yes</td></tr>
            </table></fieldset>
        <fieldset><label>Display Settings</label>
            <table width="100%">
                <tr><td>Theme</td><td>{THEME_SELECT}</td></tr>
                <tr><td>Site Intro</td><td><textarea name="site_intro">{SITE_INTRO}</textarea></td></tr>
            </table>
        </fieldset>
        <fieldset><label>Other Settings</label>
            <table width="100%">
        <!-- BEGIN settings -->
        <tr><td>{settings.VIEW_NAME}</td>
            <td><input type="text" name="{settings.NAME}" value="{settings.VALUE}"/></td>
        </tr>
        <!-- END settings -->
        </fieldset>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="save" value="Save" class="mainaction"/>
            </td>
        </tr>
    </table>
    </form>
</div>
<!-- INCLUDE footer.html -->