<!-- INCLUDE header.html -->
<!-- IF ERROR > 0 -->
<div class="block">
    <h1>Error!</h1>
    <p>{ERROR_MSG}</p>
</div>
<!-- ENDIF -->
<div class="block">
    <h1>{SITE_TITLE}</h1>
    <p>
        Please ensure you have modified the <b>includes/conf.json</b> file with your database settings before continuing.
        Once you have done this, click continue below.<br/>
        <div class="rightbutton"><a class="mainaction" href="./install.php?stage=1">Continue</a></div>
    </p>
    
</div>
</div>
