</div>
<div id="footer">
    <p><!-- IF ALLOW_USER_LOGIN -->
          <!-- IF USER_LOGGED_IN -->
          <a href="./user/logout/">Logout</a>
          <!-- ELSE -->
          <a href="./user/login/">Login</a> | <a href="./user/register/">Register</a>
          <!-- ENDIF -->
          <br />
          <!-- ELSE -->
          <a href="./user/login/">Login</a> (Admin Only)
          <br />
          <!-- ENDIF -->
          
                {CREDIT_LINE}
                    <br/>Template &copy; Ryan Morrison</p>
            </div>
        </div>
    </body>
</html>
