<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content="{SITE_DESCRIPTION}"/>
        <meta name="keywords" content="hypersite"/>
        <meta name="author" content="Ryan Morrison"/>
        <base href="http://{SERVER_NAME}" />
        <link rel="stylesheet" type="text/css" href="./styles/{SITE_THEME}/style.css" media="all"/>
        <title>{SITE_TITLE} &bull; {PAGE_TITLE}</title>
        <script src="http://cloud.tinymce.com/stable/tinymce.min.js?apiKey={TINY_MCE_API}"></script>
        <script>
  tinymce.init({
    selector: '#textareas',
    menubar: false,
    toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
    width: 600, height:300,
    plugins: [
  'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
  'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
  'save table contextmenu directionality emoticons template paste textcolor'
],

  });
  </script>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <h1><a href="#" title="Home">{SITE_TITLE}</a></h1>
                <p>{SITE_DESCRIPTION}</p>
            </div>
            <div id="nav">
                <!-- INCLUDE nav.html -->
            </div>
            <div id="sidebar">
                <!-- INCLUDE sidebar.html -->
            </div>
            <div id="content">
