<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="description" content="Your description goes here"/>
        <meta name="keywords" content="your,keywords,goes,here"/>
        <meta name="author" content="Your Name"/>
        <link rel="stylesheet" type="text/css" href="includes/style.css" media="all"/>
        <title>{SITE_TITLE} &bull; {PAGE_TITLE}</title>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <h1><a href="#" title="Home">{SITE_TITLE}</a></h1>
                <p>{SITE_DESCRIPTION}</p>
            </div>
            <div id="nav">
                <!-- INCLUDE nav.html -->
            </div>
            <div id="sidebar">
                <!-- INCLUDE sidebar.html -->
            </div>
            <div id="content">
